# MongoDB Connection String
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/BusReservation?retryWrites=true&w=majority

# Server Port (Render will set this automatically)
PORT=5000

# JWT Secret Key
JWT_SECRET=your-secure-jwt-secret-key

# External APIs
PRICING_API=https://apiconsumidorac.onrender.com
EXTERNAL_SEAT_API=https://apiconsumidorac.onrender.com
